<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSHCMInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CSHCMInterface.Properties.Settings>
            <setting name="DBFile" serializeAs="String">
                <value>CSHCMInterface.accdb</value>
            </setting>
            <setting name="CSFilesPath" serializeAs="String">
                <value>C:\FTP_DATA\DATA\DEV\</value>
            </setting>
            <setting name="SSFilesPath" serializeAs="String">
                <value>C:\FTP_DATA\DATA\DEV\</value>
            </setting>
            <setting name="AuditReportPath" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="SftpHost" serializeAs="String">
                <value>sftp.inforcloudsuite.com</value>
            </setting>
            <setting name="Tenant" serializeAs="String">
                <value>GOVOFGRENADA_PRD</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>GOVOFGRENADA_PRD#2JZwInL67bZeYubgnj1NMSyVQSwSXCKPWDY7cFEDi_8w16TPtXLcNjDM-JeWbC3wUm3J01QqoUBaOlvYOSkJvg</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>QsgRiOc-Uz2CoaLLgLurotHEBmfY_lZGjz0ycsa_t1DpwUdTNOmCxjtNv4uTnZMQEh_49ngm8D5QGGnaImiAlw</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>GOVOFGRENADA_PRD~WjkgkjdJ7s9oLuE3JKiPSUnEK4J_x_zBKboHguEHj4k</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>GUp6lmq3YN18aPz4SNnB8qwmFqRp0tOxdx0yvnfl4b_zuCUEeYiGewLH_ok6DM5-S774gH8HCnz728iaPW3VMQ</value>
            </setting>
            <setting name="SftpUser" serializeAs="String">
                <value>govofgrenada_trn_ftp</value>
            </setting>
            <setting name="SftpPassword" serializeAs="String">
                <value>votzd1XE50eouz6</value>
            </setting>
            <setting name="SftpDirectory" serializeAs="String">
                <value>/GHRTransfer/</value>
            </setting>
        </CSHCMInterface.Properties.Settings>
    </userSettings>
</configuration>