<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSHCMInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CSHCMInterface.Properties.Settings>
      <setting name="DBFile" serializeAs="String">
        <value>CSHCMInterface.accdb</value>
      </setting>
      <setting name="CSFilesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SSFilesPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AuditReportPath" serializeAs="String">
        <value>-</value>
      </setting>      
      <setting name="Tenant" serializeAs="String">
        <value>SMARTSOLUTIONS_DEM</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>SMARTSOLUTIONS_DEM#KErpQryqMkeVNFcllwiuLsVPYBqhuBYpgz7cNzUC5w1Bg6DSi2TEvwVhnunTyJVvVx4hiDegX7aSDbXFzr0N7w</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>iQi07jszhZmTc_om9X6I4aUqR3c4ggeaMYcCqihWU-cRYzOIv_C66cpQS14x8uVDVTWqqycxLc9B2l7WGExiBA</value>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value>SMARTSOLUTIONS_DEM~Xl5v_LVnJ9nHDMyvHWRBOKK_8I6q4m_-KwufZifIa8Y</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value>MBLG1bP67u8sUIUkHNERbpaghx-MKUZvcL7Zx1P4YNGSqR8JW28xmin35hODY7gd6I4Wjn0uZB9y52XBoUHNJQ</value>
      </setting>
	  <setting name="SftpHost" serializeAs="String">
        <value>sftp.inforcloudsuite.com</value>
      </setting>
	  <setting name="SftpDirectory" serializeAs="String">
        <value>/GHRTransfer/</value>
      </setting>
      <setting name="SftpUser" serializeAs="String">
        <value>smartsolutions_dem_ftp</value>
      </setting>
      <setting name="SftpPassword" serializeAs="String">
        <value>7sWvX24tYMfJsG5</value>
      </setting>	        
    </CSHCMInterface.Properties.Settings>
  </applicationSettings>
</configuration>