 Insert into [DBSctlg].[dbo].[tbl_colm_1] values ('hepy',1,16284,1,0)
 Insert into [DBSctlg].[dbo].[tbl_colm_1] values ('hepy',2,16289,1,0)
 Insert into [DBSctlg].[dbo].[tbl_colm_1] values ('hepy',3,17559,1,0)
 
 
 
 select * from [DBSctlg].[dbo].[tbl_colm_1] where tbl_id in ('hepy','uepa','ueps')
  