 delete from [DBSctlg].[dbo].[tbl_colm_1] where tbl_id  = 'ueph'
 
 Insert into [DBSctlg].[dbo].[tbl_colm_1] values ('ueph',1,16284,1,0)
 Insert into [DBSctlg].[dbo].[tbl_colm_1] values ('ueph',2,16289,1,0)
 Insert into [DBSctlg].[dbo].[tbl_colm_1] values ('ueph',3,17559,1,0)

  select * from [DBSctlg].[dbo].[tbl_colm_1] where tbl_id like ('uep%')
 